@model IEnumerable<CarViewModel>

@{
    this.ViewData["Title"] = "All Cars";
}

<div class="row">
    @foreach (var car in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3 card-size">
                <img class="card-img-top card-image" src="@car.ImageUrl" alt="@car.Brand @car.Model - @car.Year (@car.Category)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@car.Year  @car.Brand @car.Model (@car.Category)</h5>
                    <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    }
</div>
